html, body {
    height: 100svh; 
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url("pildid/Rasmus.jpg") no-repeat center center fixed;
    background-size: 100% 100%;
    color: orange;
    filter: hue-rotate(350deg);
}
h1, h2 {
    padding: 0;
    margin: 0;
    font-family: 'Dancing Script', cursive;
}
h1 {
    position: relative;
    text-align: center;
    display: block;
    top: 5%;
    font-size: 140px;
    font-weight: 800;
    rotate: -5deg;
}
h2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    text-align: center;
    top: 12%;
    left: 46%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    width: 30%;
    height: 150px;
}
.text1, .text2, .text3 {
    margin: 0;
}
.text1 {
    rotate: -10deg;
    margin: 20px;
}
.text3 {
    rotate: 10deg;
    margin: 20px;
}
h3 {
    position: fixed;
    text-align: center;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
}
.nupud {
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.nupp1 {
    color: orange;
    background-color: transparent;
    font-size: 18px;
    border: 1px solid orange;
    padding: 6px 20px;
    transition: 0.25s;
    text-decoration: none;
}
.nupp2 {
    color: orange;
    background-color: transparent;
    font-size: 18px;
    border: 1px solid orange;
    padding: 6px 5px;
    transition: 0.25s;
    margin-left: 10px;
    text-decoration: none;
}
.nupp1:hover, .nupp2:hover {
    background-color: white;
    color: rgb(76, 74, 74);
    cursor: pointer;
}
